python>=3.9
numpy
pandas
matplotlib
seaborn
tqdm

torch
torchvision
torchaudio

opencv-python
Pillow
scikit-learn

grad-cam
torchcam
torchinfo
fvcore
graphviz

transformers
datasets
sentencepiece
nltk
sacrebleu

wandb

jupyter
ipykernel

flask
fastapi
uvicorn
streamlit
